[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==1.0.2"
pytest = "*"
sqlalchemy = "*"
flask-restplus = "*"
pyyaml = "*"
psycopg2-binary = "*"
flask-restx = "*"
flask-cors = "*"
werkzeug = "==0.14.1"
flask-jwt-extended = "*"
unidecode = "*"

[requires]
python_version = "3.8"

[dev-packages]
